@import url(./base.css);
@import url(./container.css);
@import url(./section.css);
@import url(./header.css);
@import url(./logo.css);
@import url(./navigation.css);
@import url(./hero.css);
@import url(./advantages.css);
@import url(./team.css);
@import url(./portfolio.css);
@import url(./social.css);
@import url(./mobile-menu.css);
@import url(./footer.css);
@import url(./modal-view.css);

:root {
  --main-color: #4d5ae5;
}

:root {
  --icon-color: #f4f4fd;
}

:root {
  --white: #ffffff;
}

.link {
  text-decoration: none;
}

.contact-link {
  text-decoration: none;
}

.title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.none {
  display: none;
}
